@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var mediaId = 1118; }

var media = Umbraco.Media(mediaId);
    var selection = media.Children("Image");

    if (selection.Any())
    {
       
<ul class="flickr">
  @foreach ( var item in selection ) {

    <li>
      <a href="/Guitars">
        <img src="@item.umbracoFile" alt="@item.Name" /></a>
    </li>
  }
</ul>
}
