<!DOCTYPE root[<!ELEMENT Blogpost ANY>
<!ATTLIST Blogpost id ID #REQUIRED>
<!ELEMENT Blog ANY>
<!ATTLIST Blog id ID #REQUIRED>
 
<!ELEMENT Audio ANY>
<!ATTLIST Audio id ID #REQUIRED>
<!ELEMENT Audioitem ANY>
<!ATTLIST Audioitem id ID #REQUIRED>
<!ELEMENT Guitar ANY>
<!ATTLIST Guitar id ID #REQUIRED>
<!ELEMENT Guitars ANY>
<!ATTLIST Guitars id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Search ANY>
<!ATTLIST Search id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT Video ANY>
<!ATTLIST Video id ID #REQUIRED>
<!ELEMENT Videoitem ANY>
<!ATTLIST Videoitem id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1073" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-24T14:16:25" updateDate="2015-04-28T19:48:39" nodeName="Home" urlName="home" path="-1,1073" isDoc="" nodeType="1060" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteTitle><![CDATA[Hammerhead]]></siteTitle>
    <Audio id="1101" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2015-05-01T12:53:12" updateDate="2015-05-15T14:03:59" nodeName="Audio" urlName="audio" path="-1,1073,1101" isDoc="" nodeType="1098" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1097" nodeTypeAlias="Audio">
      <Audioitem id="1106" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2015-05-01T13:02:19" updateDate="2015-05-27T08:46:43" nodeName="Nothings the Same" urlName="nothings-the-same" path="-1,1073,1101,1106" isDoc="" nodeType="1103" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="0" nodeTypeAlias="Audioitem">
        <audioFile><![CDATA[<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204140007&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>]]></audioFile>
        <summary><![CDATA[Original track]]></summary>
        <imagefile>1120</imagefile>
      </Audioitem>
      <Audioitem id="1126" parentID="1101" level="3" creatorID="0" sortOrder="1" createDate="2015-05-27T08:43:56" updateDate="2015-05-27T08:46:50" nodeName="Supersonic (Cover)" urlName="supersonic-cover" path="-1,1073,1101,1126" isDoc="" nodeType="1103" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="0" nodeTypeAlias="Audioitem">
        <audioFile><![CDATA[<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/201895263&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>]]></audioFile>
        <summary><![CDATA[Cover]]></summary>
      </Audioitem>
      <Audioitem id="1127" parentID="1101" level="3" creatorID="0" sortOrder="2" createDate="2015-05-27T08:46:11" updateDate="2015-05-27T08:46:53" nodeName="Hell For Leather 1995" urlName="hell-for-leather-1995" path="-1,1073,1101,1127" isDoc="" nodeType="1103" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="0" nodeTypeAlias="Audioitem">
        <audioFile><![CDATA[<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200458534&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>]]></audioFile>
        <summary><![CDATA[Original track]]></summary>
      </Audioitem>
    </Audio>
    <Video id="1102" parentID="1073" level="2" creatorID="0" sortOrder="1" createDate="2015-05-01T12:53:21" updateDate="2015-05-15T14:03:59" nodeName="Video" urlName="video" path="-1,1073,1102" isDoc="" nodeType="1100" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1099" nodeTypeAlias="Video">
      <Videoitem id="1105" parentID="1102" level="3" creatorID="0" sortOrder="0" createDate="2015-05-01T13:00:21" updateDate="2015-05-28T08:42:44" nodeName="Nothings the Same" urlName="nothings-the-same" path="-1,1073,1102,1105" isDoc="" nodeType="1104" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="0" nodeTypeAlias="Videoitem">
        <videoFile><![CDATA[<iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/Ks1N0dVpbT0" frameborder="0" allowfullscreen></iframe>]]></videoFile>
        <summary><![CDATA[Original Track]]></summary>
        <imageFile>1125</imageFile>
      </Videoitem>
    </Video>
    <Guitars id="1095" parentID="1073" level="2" creatorID="0" sortOrder="2" createDate="2015-04-30T12:33:26" updateDate="2015-05-15T14:03:59" nodeName="Guitars" urlName="guitars" path="-1,1073,1095" isDoc="" nodeType="1092" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1091" nodeTypeAlias="Guitars">
      <Guitar id="1128" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2015-06-04T08:42:40" updateDate="2015-06-08T15:01:45" nodeName="ESP LTD Eclipse EC-331 Blks" urlName="esp-ltd-eclipse-ec-331-blks" path="-1,1073,1095,1128" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[ESP LTD]]></manufacturer>
        <model><![CDATA[Eclipse EC-331 Blks]]></model>
        <image>1129</image>
      </Guitar>
      <Guitar id="1116" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2015-05-08T14:53:02" updateDate="2015-06-05T09:30:09" nodeName="Ibanez XP300fx" urlName="ibanez-xp300fx" path="-1,1073,1095,1116" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Ibanez ]]></manufacturer>
        <model><![CDATA[XP300fx]]></model>
      </Guitar>
      <Guitar id="1112" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2015-05-08T14:51:55" updateDate="2015-06-05T09:30:09" nodeName="Squire HSS Strat" urlName="squire-hss-strat" path="-1,1073,1095,1112" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Squire HSS Strat]]></manufacturer>
        <model><![CDATA[Showmaster]]></model>
        <image>1090</image>
      </Guitar>
      <Guitar id="1108" parentID="1095" level="3" creatorID="0" sortOrder="3" createDate="2015-05-08T14:51:10" updateDate="2015-06-05T09:30:09" nodeName="Charvel San Dimas" urlName="charvel-san-dimas" path="-1,1073,1095,1108" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Charvel]]></manufacturer>
        <model><![CDATA[San Dimas]]></model>
      </Guitar>
      <Guitar id="1111" parentID="1095" level="3" creatorID="0" sortOrder="4" createDate="2015-05-08T14:51:46" updateDate="2015-05-29T08:51:47" nodeName="Squire Strat" urlName="squire-strat" path="-1,1073,1095,1111" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Squire]]></manufacturer>
        <model><![CDATA[Strat]]></model>
        <image>1090</image>
      </Guitar>
      <Guitar id="1113" parentID="1095" level="3" creatorID="0" sortOrder="5" createDate="2015-05-08T14:52:22" updateDate="2015-06-05T09:30:09" nodeName="Epiphone Gothic Explorer" urlName="epiphone-gothic-explorer" path="-1,1073,1095,1113" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Epiphone ]]></manufacturer>
        <model><![CDATA[Gothic Explorer]]></model>
      </Guitar>
      <Guitar id="1109" parentID="1095" level="3" creatorID="0" sortOrder="6" createDate="2015-05-08T14:51:22" updateDate="2015-06-05T09:30:09" nodeName="Epiphone Les Paul Custom Bullseye" urlName="epiphone-les-paul-custom-bullseye" path="-1,1073,1095,1109" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Epiphone]]></manufacturer>
        <model><![CDATA[Les Paul Custom ]]></model>
      </Guitar>
      <Guitar id="1117" parentID="1095" level="3" creatorID="0" sortOrder="7" createDate="2015-05-08T14:53:56" updateDate="2015-06-05T09:30:09" nodeName="Aria Pro Bass" urlName="aria-pro-bass" path="-1,1073,1095,1117" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Aria Pro]]></manufacturer>
        <model><![CDATA[Bass]]></model>
        <image>1090</image>
      </Guitar>
      <Guitar id="1115" parentID="1095" level="3" creatorID="0" sortOrder="8" createDate="2015-05-08T14:52:51" updateDate="2015-05-08T14:57:31" nodeName="Ibanez JS 100" urlName="ibanez-js-100" path="-1,1073,1095,1115" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Ibanez]]></manufacturer>
        <model><![CDATA[JS 100]]></model>
      </Guitar>
      <Guitar id="1096" parentID="1095" level="3" creatorID="0" sortOrder="9" createDate="2015-05-01T12:41:55" updateDate="2015-06-05T09:30:09" nodeName="Gibson Les Paul" urlName="gibson-les-paul" path="-1,1073,1095,1096" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Gibson]]></manufacturer>
        <model><![CDATA[Les Paul]]></model>
        <description><![CDATA[This is a standard]]></description>
        <notes><![CDATA[Standard 1980]]></notes>
      </Guitar>
      <Guitar id="1110" parentID="1095" level="3" creatorID="0" sortOrder="10" createDate="2015-05-08T14:51:32" updateDate="2015-06-05T09:30:09" nodeName="Epiphone Riviera" urlName="epiphone-riviera" path="-1,1073,1095,1110" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Epiphone]]></manufacturer>
        <model><![CDATA[Riviera]]></model>
      </Guitar>
      <Guitar id="1114" parentID="1095" level="3" creatorID="0" sortOrder="11" createDate="2015-05-08T14:52:32" updateDate="2015-06-05T09:30:09" nodeName="Charvel Model 1c" urlName="charvel-model-1c" path="-1,1073,1095,1114" isDoc="" nodeType="1094" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1093" nodeTypeAlias="Guitar">
        <manufacturer><![CDATA[Charvel]]></manufacturer>
        <model><![CDATA[Model 1c]]></model>
      </Guitar>
    </Guitars>
    <Search id="1123" parentID="1073" level="2" creatorID="0" sortOrder="3" createDate="2015-05-15T13:38:37" updateDate="2015-05-15T13:38:37" nodeName="Search" urlName="search" path="-1,1073,1123" isDoc="" nodeType="1122" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1121" nodeTypeAlias="Search" />
    <Blog id="1137" parentID="1073" level="2" creatorID="0" sortOrder="4" createDate="2015-07-02T08:56:11" updateDate="2015-07-02T08:56:11" nodeName="Blog" urlName="blog" path="-1,1073,1137" isDoc="" nodeType="1136" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1135" nodeTypeAlias="Blog">
      <Blogpost id="1138" parentID="1137" level="3" creatorID="0" sortOrder="0" createDate="2015-07-02T08:56:19" updateDate="2015-07-02T09:19:28" nodeName="Tone" urlName="tone" path="-1,1073,1137,1138" isDoc="" nodeType="1134" creatorName="Aron Gamble" writerName="Aron Gamble" writerID="0" template="1133" nodeTypeAlias="Blogpost">
        <blogDetail><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article full width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_text_right",
                "headline",
                "abstract",
                "paragraph",
                "quote",
                "media",
                "code",
                "rte",
                "embed",
                "headline_centered"
              ],
              "controls": [
                {
                  "value": "Stop chasing your hero's tone.",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                },
                {
                  "value": "This is the content of the blog post",
                  "editor": {
                    "name": "Paragraph",
                    "alias": "paragraph",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-font",
                    "config": {
                      "style": "font-size: 16px; line-height: 20px; font-weight: light;",
                      "markup": "<p>#value#</p>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "0ca8a0d6-a36f-bff1-8c84-ad865a3c5d85"
        }
      ]
    }
  ]
}]]></blogDetail>
        <title><![CDATA[Stop chasing your hero's tone, it's impossible]]></title>
      </Blogpost>
    </Blog>
  </Home>
</root>